.teste2{
    font-family: Segoe UI !important;
    color: blue !important;
    text-decoration: none !important;
    list-style: none !important;
    font-size: 20px !important;
    text-transform: initial;
  }
