body {
  background-color: #e8f1f3;
}

.text-decorator-none {
  text-decoration: none;
}

.container2 {
  display: flex;
  grid-gap: 30px;
  background-color: none;
  margin-bottom: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tamanho{
  width: 300px;
  height: 450px;
  margin: 30px;
}

.container-produto {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 20px;
  margin-bottom: 0.5cm;
  padding: 10px;
}

.botao-atualizar {
  background-color: #629D27 !important;
  font-weight: bold !important;

}

.botao-deletar {
  background-color: #9d2727 !important;
  font-weight: bold !important;
}

.caixa-botao {
  height: 10vh;
  display: flex;
  justify-content: center;
}