.buttom {
  color: white !important;
  background: rgb(119, 169, 109);
  background: linear-gradient(
    90deg,
    rgba(119, 169, 109, 1) 0%,
    rgba(94, 145, 46, 1) 100%
  );
}

.login {
  font-family: Segoe UI !important;
  color: #629d27;
  text-decoration: none;
  font-weight: bold !important;
  font-size: 18px !important;
}

p {
  font-family: Segoe UI !important;
  font-size: 15px !important;
  margin-top: 10px;
}

.botaoaceitar {
  margin-right: 10px;
}

.textos1 {
  font-family: Segoe UI !important;
  font-size: 30px !important;
}
