.caixa {
  background-image: url(https://i.imgur.com/Qm6Dlvm.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.caixa2 {
  background-color: white;
  height: 100vh;
}

.titulo {
  color: black !important;
  font-weight: bold !important;
  font-family: Segoe UI !important;
}

.botao {
  border-color: black !important;
  background-color: #dcddd9 !important;
  color: black !important;
  font-family: Segoe UI;
}

.botao:hover {
  background-color: #A4D06B !important;
}

.postagens {
  background-color: white;
}

p {
  font-family: Segoe UI;
  font-size: 18px;
  font-weight: normal;
  text-align: start;
}

.imagem2 {
  margin-left: 80px;
}
