.text-decorator-none {
    text-decoration: none;
}

.container3 {
    display: flex;
    grid-gap: 30px;
    background-color: none;
    margin-bottom: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tamanho3 {
    width: 300px;
    margin: 10px;
}

.container-categoria {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 20px;
    margin-bottom: 2cm;
    padding: 10px;
    margin-left: 25vh;
    margin-right: 25vh;
}