.textos1 {
  font-size: 30px !important;
  color: #629d27 !important;
  font-weight: bold !important;
  padding: 15px;
  font-family: Segoe UI !important;
}

.imagem {
  background-image: url(https://i.imgur.com/d5bMdDJ.jpg);
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.text-decorator-none {
  text-decoration: none;
  color: black;
}

.buttom {
  color: white !important;
  background: rgb(119, 169, 109);
  background: linear-gradient(
    90deg,
    rgba(119, 169, 109, 1) 0%,
    rgba(94, 145, 46, 1) 100%
  );
}

.font {
  font-size: 15px !important;
  font-family: Segoe UI !important;
}

.login-link-cadastro {
  color: #659841;
  font-size: 15px !important;
  font-family: Segoe UI;
  font-weight: bold !important;
}

.login-link-cadastro:hover {
  color: #add883;
  transition: 0.3s ease-out;
}

/* Estilizar o AutoFill */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #DCE8DC inset;
  transition: background-color 5000s ease-in-out 0s;
}
